#main-container {
    display: grid;
    grid-auto-flow: column;
    width: 600px;
    height: 150px;
    grid-template-columns: repeat(3, 600px);
    grid-template-rows: repeat(3, 50px);
}

.gameBoardRow {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
}

.gameBoardCell {
    display: grid;
    justify-content: center;
}